@model Smart_Electrician_Support_System.ViewModels.JobViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ManagementDashboardLayout.cshtml";
}

<div class="col-md-12 col-sm-12 col-lg-12">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Job_ID" class="control-label"></label>
                    <input asp-for="Job_ID" class="form-control" readonly />
                    <span asp-validation-for="Job_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Appo_ID" class="control-label"></label>
                    <input asp-for="Appo_ID" class="form-control" readonly/>
                    <span asp-validation-for="Appo_ID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Site_Inspected_By" class="control-label"></label>
                    @*<input asp-for="Site_Inspected_By" class="form-control" />*@
                    @Html.DropDownListFor(m => m.Site_Inspected_By, ViewData["EmpList"] as SelectList, "-Select Inspector-", new { @class = "form-control" })
                    <span asp-validation-for="Site_Inspected_By" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Site_Inspected_Date" class="control-label"></label>
                    <input asp-for="Site_Inspected_Date" class="form-control"/>
                    <span asp-validation-for="Site_Inspected_Date" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Emp_Electr_ID" class="control-label"></label>
                    @*<input asp-for="Emp_Electr_ID" class="form-control" />*@
                    @Html.DropDownListFor(m => m.Emp_Electr_ID, ViewData["ElecList"] as SelectList, "-Appointed Electician-", new { @class = "form-control" })
                    <span asp-validation-for="Emp_Electr_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="JobAssign_Time" class="control-label"></label>
                    <input asp-for="JobAssign_Time" class="form-control"/>
                    <span asp-validation-for="JobAssign_Time" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="JobEnd_TimeExpected" class="control-label"></label>
                    <input asp-for="JobEnd_TimeExpected" class="form-control" />
                    <span asp-validation-for="JobEnd_TimeExpected" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="JobEnd_Time" class="control-label"></label>
                    <input asp-for="JobEnd_Time" class="form-control" />
                    <span asp-validation-for="JobEnd_Time" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <div class="form-group">
                    <label asp-for="Job_Subject" class="control-label"></label>
                    <input asp-for="Job_Subject" class="form-control" />
                    <span asp-validation-for="Job_Subject" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Job_Descr" class="control-label">Job Description <strong> &nbsp;&nbsp;&nbsp;&nbsp; // If job terminated, please mention the reason here.</strong></label>
                    <textarea asp-for="Job_Descr" class="form-control" placeholder="--Job Description(If any)--"></textarea>
                    <span asp-validation-for="Job_Descr" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Job_Status" class="control-label"></label>
                    @*<input asp-for="Job_Status" class="form-control" />*@

                    <select asp-for="Job_Status" class="form-control">
                        <option value="Accepted">Accepted</option>
                        <option value="Pending">Pending</option>
                        <option value="Finished">Finished</option>
                        <option value="Closed">Closed</option>
                        <option value="Terminated">Terminated</option>
                    </select>
                    <span asp-validation-for="Job_Status" class="text-danger"></span>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary btn-block" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="reset" value="Cancel" class="btn btn-danger btn-block" />
                </div>
            </div>
        </div>




    </form>
</div>







<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
