@model Smart_Electrician_Support_System.ViewModels.EmpIdentityViewModel

@{
    ViewData["Title"] = "Employee Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <input asp-for="EmpEmail" class="form-control form-control-user"
                           aria-describedby="emailHelp"
                           placeholder="Enter Email Address..." required>
                    <span asp-validation-for="EmpEmail" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <input asp-for="EmpPassWord" class="form-control form-control-user"
                           placeholder="Password">
                    <span asp-validation-for="EmpPassWord" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">
                            Remember
                            Me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                </button>
                <hr>
                <a href="#" class="btn btn-google btn-user btn-block">
                        <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="#" class="btn btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
