@model Smart_Electrician_Support_System.Models.CustomerModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ManagementDashboardLayout.cshtml";
}

<h1>Create Customer Profile</h1>

@await Html.PartialAsync("CreatePartial", new Smart_Electrician_Support_System.ViewModels.CustomerViewModel())


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
