@model Smart_Electrician_Support_System.ViewModels.UsedProductsViewModel
@{
    Model.Pr_Used_ID = ViewData["NewID"].ToString();

}

<div class="col-md-12 col-lg-12 col-sm-12">
    <form method="post" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Pr_Used_ID" class="control-label"></label>
                    <input asp-for="Pr_Used_ID" class="form-control" readonly />
                    <span asp-validation-for="Pr_Used_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="PrID" class="control-label"></label>
                    @*<input asp-for="PrID" class="form-control" />*@
                    @Html.DropDownListFor(m => m.PrID, ViewData["PrdList"] as SelectList, "-Select Used Product-", new { @class = "form-control" })

                    <span asp-validation-for="PrID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Job_ID" class="control-label"></label>
                    @*<input asp-for="Job_ID" class="form-control" />*@
                    @Html.DropDownListFor(m => m.Job_ID, ViewData["JobList"] as SelectList, "-Select Job Used For-", new { @class = "form-control" })
                    <span asp-validation-for="Job_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="PrQty" class="control-label"></label>
                    <input asp-for="PrQty" class="form-control" />
                    <span asp-validation-for="PrQty" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary btn-block" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="reset" value="Cancel" class="btn btn-danger btn-block" />
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
