@model Smart_Electrician_Support_System.Models.UsedProductsModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ManagementDashboardLayout.cshtml";
}

<h1>Edit</h1>

<h4>UsedProductsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pr_Used_ID" />
            <div class="form-group">
                <label asp-for="Job_ID" class="control-label"></label>
                <input asp-for="Job_ID" class="form-control" />
                <span asp-validation-for="Job_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrID" class="control-label"></label>
                <input asp-for="PrID" class="form-control" />
                <span asp-validation-for="PrID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrQty" class="control-label"></label>
                <input asp-for="PrQty" class="form-control" />
                <span asp-validation-for="PrQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
